.formContainer {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1.5rem;
  padding: 10px;
  border: 3px solid white;
}

.textarea {
  display: flex;
  flex-direction: column;
}

.main {
  height: 50vh;
  margin: 5rem 0;
}

@media (max-width: 375px) {
  .formContainer {
    width: 80%;
  }
}