.card {
  width: 20rem;
  height: 20rem;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2%;
  background-color:  #F7DCB4;
  color: #637764;
}

.image {
  border-radius: 1.5%;
  aspect-ratio: 3/2;
}

.descContainer {
  height: calc(20rem - 230px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.title {
  font-size: larger;
  font-weight: bolder;
}

.links {
  display: flex;
  width: 35%;
  margin: 0 auto;
  justify-content: space-between;
}

.link a {
  text-decoration: underline;
}