
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  min-height: 97svh;
  margin: 0 auto;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 56px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3rem;
  text-decoration: none;
}

.footerNav {
  display: flex;
  height: 56px;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.button {
  border: 1.5px solid #637764;
  background-color: transparent;
  height: 2.5rem;
  width: 5rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  color: #637764;
  box-shadow: 0px 1px 8px -4px #637764;
}

.button:hover {
  border-color: #849e85;
  color: #849e85;
}

@media (max-width: 1250px) {
  .nav {
    width: 95%;
  }

  .nav ul,
  .footerNav {
    gap: 1rem;
  }

  .footerNav {
    height: 10svh;
  }
}

@media (max-width: 400px) {
  .container {
    width: 95%;
  }
  .nav {
    gap: .5rem;
  }
}