.main {
  display: flex;
  height: 40vh;
  align-items: center;
  margin: 0 auto;

  background-image: url(../public/development-topdown.png);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position-x: 15rem;
}

.greeting {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

.desc {
  color: #425042;
  width: 45%;
}

@media (max-width: 1250px) {
  
  .main {
    width: 95%;
    background-position-y: 5rem;
    background-position-x: 15rem;
  }
  
  .greeting {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .main {
    background-position-x: 10rem;
    background-position-y: 5rem;
  }
}

@media (max-width: 375px) {
  .main {
    background-position-x: 5rem;
  }
}
